.olli-description {
    cursor: pointer;
}

.olli-description:hover {
    background-color: lightgrey;
}

.center-text {
    text-align: center; 
}

.add-big-margin {
    margin: 1em;
}

.toggle-buttons {
    margin-left: 10px;
    width: 200px;
}

.graph-container {
    margin-top: 1em;
}
