.olli-description {
    cursor: pointer;
}

.olli-description:hover {
    background-color: lightgrey;
}

.table-container {
    margin: 1vw;
    max-height: 50vh;
    overflow: scroll;
}

.add-big-margin {
    margin: 1em;
}

.toggle-buttons {
    margin-left: 10px;
    width: 200px;
}
