.olli-description {
    cursor: pointer;
}

.olli-description:hover {
    background-color: lightgrey;
}


.add-big-margin {
    margin: 1em;
}

.toggle-buttons {
    margin-left: 10px;
    width: 200px;
}
