.qa-page {
    max-width: 150ch ;
    /* center */
    margin-inline: auto; 
    padding: 2em;
    text-align: center;
  }

/* Title h1 style */
.title {
    color: #226291;
    font-family: 'Hanken Grotesk', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 4em;
    line-height: 105%;
    margin: 1rem 0 10px;
  }

.direction-section {
  text-align: justify;
  padding: 1em;
  color: #226291;
}

.files-upload-section {
  /* background-color: red; */
  border: solid #22639178;
  padding: 1em;
  border-radius: 10px;
}

.chart-buttons {
  width: 100%;
}

.add-margin {
  margin: 5px;
}

