body {
  font-family: 'Hanken Grotesk', sans-serif;
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin: 40px;
}

p {
  font-size: 1.25rem;
}

/* Title h1 style */
.title {
  color: #226291;
  font-family: 'Hanken Grotesk', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 2rem 0 0;
}

/* Very light scaling for our illustration */
.illo-container {
  display: flex;
  justify-content: flex-end;
}

.illustration {
  max-width: 100%;
  max-height: 150px;
  margin-top: 1rem;
}

/* Styles for our custom color form and its results */
.color-info {
  margin-left: 5px;
}

.color-search {
  margin-top: 3rem;
}

.color-form {
  width: 90%;
  max-width: 500px;
  margin-left: 5px;
}

.color-form a:not(.btn--remix) {
  font-weight: bold;
  color: var(--color-text-main);
  margin-top: 8px;
}

.color-form button {
  margin-top: 8px;
}

.color-form button:hover {
  cursor: pointer;
  box-shadow: -8px 4px 20px #9BE7D8;
}

form {
  margin: 0.75rem 0;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

label {
  color: #000000;
  font-weight: bold;
}

/* Instructions */
.instructions {
  margin: 1rem auto 0;
}

.instructions p {
  font-size: 1rem;
}

h2 {
  color: #226291;
}

/* File Drop Zone */
.drop-zone {
  width: 300px;
  height: 200px;
  border: 2px dashed #ccc;
  text-align: center;
  font-size: 20px;
  line-height: 200px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Navigate to Evaluation Button */
#eval {
  background-color: #226291;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#eval:hover {
  background-color: #12476a;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 50px auto;
  overflow: hidden;
}

.dynamic-button {
  flex: 1;
  background-color: #226291;
  color: #fff;
  border: none;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: calc(20% - 10px); /* Set the width of each button to 20% of the container width with spacing */
}

/* Add spacing between buttons */
.dynamic-button + .dynamic-button {
  margin-left: 10px;
}

.dynamic-button:hover {
  background-color: #12476a;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

#sort-menu {
  margin-top: 20px;
}

button {
  padding: 8px;
  margin-right: 10px;
  cursor: pointer;
} */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: row; /* Arrange sorting menu and table side by side */
  align-items: flex-start; /* Align items to the top of the container */
}

#table-container {
  width: 100%; /* Adjust the width as needed */
  padding: 10px;
  max-height: 500px;
  overflow: auto;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Style for the button container */
#suggestion-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 20px;
}

/* Style for the buttons */
.suggestion-button {
  padding: 10px 20px;
  background-color: #226291;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  min-height: 75px;
}

.suggestion-button:hover {
  background-color: #f0f0f0;
  color: black;
}

.qna-form {
  display: block;
  width: 100%;
}

.input-container {
  display: flex;
  width: 100%;
}

#user-query {
  width: 90%;
}

#recordButton {
  width: 10%;
  background-color: #226291;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fas.fa-microphone {
  font-size: 20px;
}

#subsequentSuggestionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.first-row {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.column {
  width: 48%;
  margin-bottom: 10px;
}

.subsequentSuggestionButton {
  display: block;
  width: 100%;
  min-height: 75px;
  background-color: #226291;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}